@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #eaeaea;
}

.container {
	max-width: 900px;
	margin: 100px auto;
}

.card {
	background-color: #ffffff;
	padding: 30px 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #5c5c5c48;
}

.btn-primary {
	background-color: #d4d4d4;
	color: #ffffff;
	font-family: "Poppins", sans-serif;
	border: none;
	width: 40px;
	height: 40px;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
}

.btn-primary i {
	text-align: center;
}

.btn-primary:hover {
	background-color: #fdc9b1;
}

.timer {
	font-size: 60px;
	font-family: "Russo One", sans-serif;
	margin-bottom: 30px;
}

.paused {
	color: #fdc9b1;
}
